//Подвал
.footer__box {
    width: 100%;

    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    
    @media screen and (min-width: 1200px) {
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
}

.footer-contacts {
    background-color: $accent-background-color;
    margin-top: 0;
    margin-bottom: 0;
}

.footer-contacts__box {
    width: 100%;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        display: flex;
        flex-wrap: wrap;
    }
}

.address {
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width: 768px) {
    min-width: 369px;
    }

    @media screen and (max-width: 1199px) {
        text-align: center;
    }
}

.footer-logo__box {
    margin-bottom: 20px;
}

.footer-contacts__link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: $contacts-color;

    &:hover,
    &:focus {
        color: $accent-color;
    }
}

.address__link {
    color: $primary-white-color;
}

.footer-contacts__item {
    margin-bottom: 8px;
    
    @media screen and (min-width: 1200px) {
    margin-bottom: 9px;

    &:last-child {
        margin-bottom: 0;
    }
}

/*Присоединяйтесь*/
.footer-social-contacts {
    //width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        min-width: 369px;
    }

    ul {
        //width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        @media screen and (min-width: 1200px) {
            margin-left: 72px;
            margin-right: 98px;
            padding: 0;
        }
    }
}

//Иконки соцсетей в футере
    .circle {
        background-color: rgba(255, 255, 255, 0.1);
    }

    .social__icon {
        fill: $primary-white-color;
    }
}

//Иконки соцсетей при наведении
.social__link:hover,
.social__link:focus {
    background-color: $accent-color;
}  

.footer-social__title {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $primary-white-color;
    margin-bottom: 20px;

    @media screen and (max-width: 1199px) {
        text-align: center;
    }
}