$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196F3;
$primary-white-color: #ffffff;
$accent-background-color: #2F303A;
$contacts-color: rgba(255, 255, 255, 0.6);
$background-features-color: #E5E5E5;
$black-color: #000000;
$accent-button: #188CE8;
$button-color: #F5F4FA;
